---
import { cn } from "../../utils/classNames";

export type Props = {
  class?: string | undefined;
  wrapperClass?: string | undefined;
  caption?: string | undefined;
  fullWidth?: boolean | undefined;
  withShadow?: boolean | undefined;
};

const {
  class: className,
  wrapperClass,
  caption,
  fullWidth = true,
  withShadow = false,
} = Astro.props;
---

<section class={cn("mt-10 pt-6", wrapperClass)}>
  <div
    class={cn(
      `bg-bg py-4 sm:py-6`,
      `mb-0 max-w-full`,
      fullWidth && "sm:w-screen sm:max-w-[100vw] sm:ml-[var(--contentOffset)]",
      withShadow && "shadow-xl",
      className,
    )}
  >
    <slot />
  </div>
  {
    caption && (
      <div
        class="
        mt-2 text-xs opacity-70 transition-opacity
        hover:opacity-100 focus-visible:opacity-100
        focusable
      "
        tabindex="0"
      >
        {caption}
      </div>
    )
  }
</section>
