---
import { cn } from "@/utils/classNames";
import TextLink from "../TextLink.astro";
import ContentSection, {
  type Props as ContentSectionProps,
} from "./ContentSection.astro";

export type Props = ContentSectionProps & {
  filePath: string;
  downloadLinkText?: undefined | string;
};

const {
  filePath,
  downloadLinkText,
  class: className = "",
  ...contentSectionProps
} = Astro.props;
---

<ContentSection {...contentSectionProps} class={cn(className)}>
  <div class="sm:grid-container">
    <iframe
      src={`http://docs.google.com/gview?url=${Astro.site}${filePath.replace("/", "")}&embedded=true`}
      class="aspect-[9/13] lg:aspect-square w-full"
    >
    </iframe>
  </div>
</ContentSection>
