---
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";
import ProjectThumbnail, {
  type Props as ProjectThumbnailProps,
} from "@/components/ProjectThumbnail.astro";

export type Props = {
  slug: CollectionEntry<"projekte">["slug"];
  titleTag?: ProjectThumbnailProps["titleTag"];
};

const { slug, titleTag = "p" } = Astro.props;
const project = await getEntry("projekte", slug);
---

<div class="not-prose pb-12 pt-2">
  <ProjectThumbnail {...project} titleTag={titleTag} />
</div>
