---
import MediaSection, {
  type Props as MediaSectionProps,
} from "@/components/macros/MediaSection.astro";
import ImageSection, {
  type Props as ImageSectionProps,
} from "@/components/macros/ImageSection.astro";
import type { CollectionEntry } from "astro:content";

export type Props = MediaSectionProps &
  ImageSectionProps & {
    project: CollectionEntry<"projekte">["slug"];
    image: ImageMetadata;
  };

const { mediaMetadata, buttonText, project, image, ...otherProps } =
  Astro.props;
---

<MediaSection
  mediaMetadata={mediaMetadata}
  buttonLink={`/projekte/${project}`}
  buttonText={buttonText || "Projekt ansehen"}
  {...otherProps}
>
  <a
    href={`/projekte/${project}`}
    class="bg-discrete border border-discrete block not-prose"
  >
    <ImageSection src={image} class="m-0" />
  </a>
</MediaSection>
