---
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";
import ResourceCard, {
  type Props as ProjectThumbnailProps,
} from "@/components/ResourceCard.astro";

export type Props = {
  slug: CollectionEntry<"resources">["slug"];
  titleTag?: ProjectThumbnailProps["titleTag"];
};

const { slug, titleTag = "p" } = Astro.props;
const resource = await getEntry("resources", slug);
---

<div class="not-prose pb-12 pt-2">
  <ResourceCard {...resource} titleTag={titleTag} />
</div>
