---
import ContentSection, {
  type Props as ContentSectionProps,
} from "@/components/macros/ContentSection.astro";
import { cn } from "@/utils/classNames";
import type { HTMLAttributes } from "astro/types";

export type Props = ContentSectionProps & {
  url: string;
  iframeProps?: undefined | HTMLAttributes<"iframe">;
};

const {
  url,
  class: className,
  iframeProps = {},
  ...contentSectionProps
} = Astro.props;
---

<ContentSection {...contentSectionProps} class={cn("sm:px-6", className)}>
  <div class="sm:grid-container">
    <iframe
      class="w-full aspect-video"
      src={url}
      title={contentSectionProps.caption || "Video player"}
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      {...iframeProps}></iframe>
  </div>
</ContentSection>
