@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
      font-family: "Clan Medium";
      src: url('/assets/fonts/clan-medium.woff') format("woff");
    }

    @font-face {
        font-family: "Clan Mediumitalic";
        src: url('/assets/fonts/clan-mediumitalic.woff') format("woff");
      }
  
    @font-face {
        font-family: "Clan Book";
        src: url('/assets/fonts/clan-book.woff') format("woff");
    }

    @font-face {
        font-family: "Clan Bookitalic";
        src: url('/assets/fonts/clan-bookitalic.woff') format("woff");
    }

    @font-face {
        font-family: "Clan Bold";
        src: url('/assets/fonts/clan-bold.woff') format("woff");
    }

    @font-face {
        font-family: "Clan Bolditalic";
        src: url('/assets/fonts/clan-bolditalic.woff') format("woff");
    }

    @font-face {
        font-family: "Clan News";
        src: url('/assets/fonts/clan-news.woff') format("woff");
    }

    @font-face {
        font-family: "Clan Newsitalic";
        src: url('/assets/fonts/clan-newsitalic.woff') format("woff");
    }
    
  
  /*  html, body, #__next {
      font-family: "Clan Book", sans-serif;
      color: #222222;
    }
  */

  }