<div class="{{ class }} pointer-events-none" aria-hidden="true">
  <div class="absolute inset-0 bg-gradient-to-t from-[var(--bg-inv)_50%] opacity-100"></div>
  <div class="absolute inset-0 bg-bg-inv opacity-50 mix-blend-multiply"></div>
  <div class="absolute inset-0 bg-bg-inv opacity-75 mix-blend-screen"></div>
  <div class="absolute inset-0 bg-bg-inv opacity-100 mix-blend-color"></div>
</div>
