---
layout: default.liquid
title: Vielen Dank für Ihre Kontaktanfrage
---

<div class="container mx-auto">
  {%
     render 'heading',
   tag: 'h1',
   text: 'Vielen Dank für Ihre Kontaktanfrage!',
   size: 'xxl',
   class: 'mt-16' %}
  <p>
    Ihre Anfrage ist bei uns eingegangen. Wir melden uns baldmöglich über die von Ihnen angegebenen Kontaktdaten.
  </p>
</div>