{% comment %}
@todo brauchen ein anderes layout als default liquid
{% endcomment %}

<!DOCTYPE html>
<html lang="de">
  {% include "head.html" %}
  <body>
    {% include "topnav.html" %}
    {% if page.url == '/' %}
      {{ content }}
    {% else %}
      <div>
        {{ content }}
      </div>
    {% endif %}
    {% include "footer.html" %}
    {% include "matomo.html" %}
  </body>
</html>