{% comment %}
  @todo brauchen ein anderes layout als default liquid
{% endcomment %}

<!doctype html>
<html lang="de">
  {% render "head.liquid", external_libs: external_libs, title: title, base_title: config.title %}
  <body>
    {% include "topnav.liquid" %}
    <main>
      {{ content }}
    </main>
    {% include 'footer.liquid' %}
    {% include 'matomo.html' %}
  </body>
</html>
