{% comment %}
@todo brauchen ein anderes layout als default liquid
{% endcomment %}

<!DOCTYPE html>
<html lang="de">
  {% render "head.liquid", external_libs: external_libs %}
  <body>
    {% include "topnav.html" %}
    <main>
      {{ content }}
    </main>
    {% render "footer.html" %}
    {% render "matomo.html" %}
  </body>
</html>