{% comment %}
  @todo brauchen ein anderes layout als default liquid
{% endcomment %}

<!doctype html>
<html lang="de">
  {% include 'head.html' %}
  <body>
    {% include 'topnav.html' %}
    <main>
      {{ content }}
    </main>
    {% include 'footer.liquid' %}
    {% include 'matomo.html' %}
  </body>
</html>
