
<!--@todo brauchen ein anderes layout als default liquid-->

<!DOCTYPE html>
<html>

	{% include "head.html" %}

<body>
	<div id="barba-wrapper">
		<div class="barba-container">

			{% include "topnav.html" %}

			{% if page.url== '/' %}
			{{ content }}
			{% else %}
			<div>
				{{ content }}
			</div>
			{% endif %}
			
			<!--footer-->
			<section>
				{% include "footer.html" %}
				{% include "matomo.html" %}
			</section>
		</div>
	</div>
</body>

</html>