---
layout: default
---
{% comment %}
  AVAILABLE VARIABLES
  -------------------
  tags: Blog article tags (required)
  title: Blog article title (required)
  metaDescription: Blog article meta description (required)
  categories: Blog article categories (required)
  date: Date of blog article (required)
  heroImagePath: Path to hero image if existent
  heroImageAltText: Description of hero image (required if hero image exists)

  content: Blog article markdown content
{% endcomment %}
{%- capture formattedDate %}
  {{ page.date | date: '%d.%m.%Y' }}{% endcapture %}

<script
  defer
  type="text/javascript"
  src="/assets/js/tableOfContents.js"
></script>
<div class="w-screen overflow-x-hidden pb-[8%]">
  <section class="bg-bg-alt" aria-label="Einführung">
    <div class="grid-container">
      <div class="lg:col-start-2 lg:col-span-5 py-10">
        {%
          render 'paragraph',
          text: formattedDate,
          class: 'opacity-70',
        %}
        {%
          render 'heading',
          tag: 'h1',
          text: title,
          size: 'xxl',
        %}
        {%
          render 'paragraph',
          text: metaDescription,
          size: 'lg',
        %}
      </div>
      {% if heroImagePath and heroImageAltText %}
        <div
          class="h-72 lg:h-[108%] row-start-1 row-end-2 col-span-12 lg:col-start-8 lg:col-span-4 relative"
          role="figure"
          aria-label="{{ heroImageAltText }}"
        >
          <div
            class="
              absolute top-0 bg-cover bg-center
              w-[110vw] h-full
              -left-6
              sm:left-[calc((1.5rem+var(--marginSize))*-1)]
              lg:left-0
              lg:w-[calc(100%+var(--marginSize)+10px)]
            "
            style="background-image: url({{ heroImagePath }});"
          ></div>
          <div
            class="
              absolute top-0 bg-cover bg-center
              w-[110vw] h-full
              -left-6
              pointer-events-none
              sm:left-[calc((1.5rem+var(--marginSize))*-1)]
              lg:left-0
              lg:w-[calc(100%+var(--marginSize)+10px)]
              bg-bg-inv mix-blend-screen opacity-50
            "
            aria-hidden="true"
          ></div>
        </div>
      {% endif %}
    </div>
  </section>
</div>

<section aria-label="Beitrag">
  <div class="grid-container">
    <div class="pt-16 flex flex-col gap-6 order-first lg:order-last lg:col-start-9 lg:col-span-3 z-0">
      <div class="sticky w-full top-6 lg:pb-48" id="toc-target">
        <span id="toc-label" class="font-bold text-headlines">Auf dieser Seite</span>
      </div>
    </div>
    <div
      class="lg:col-span-6 lg:col-start-2 xl:col-span-5 xl:col-start-2 prose prose-a:focusable pt-16 pb-48 relative z-10"
      id="toc-content"
    >
      {{ content }}
    </div>
  </div>
</section>
