---
layout: default
---

<section class="bg-blue text-white flex justify-center" aria-label="Zusammenfassung">
  <div class="flex flex-col w-4/5 md:w-3/5 lg:w-1/2 xl:w-2/5 my-20">
    <div class="text-sm font-clanProBold pb-4 text-white">
      {{ page.date | date: "%d.%m.%Y" }}
    </div>
    <h1 class="text-4xl lg:text-5xl font-clanProBold pb-4 text-white">
      {{ title }}
    </h1>
    <div class="font-clanProNews text-lg">
      {{ metaDescription }}
    </div>
  </div>
</section>

<section aria-label="Beitrag">
  <div class="flex justify-center">
    <div class="w-4/5 lg:w-1/2 xl:w-2/5 mt-20 lg:ml-40 text-l font-clanProNews leading-7 text-blue-darker">
      {{ content }}
    </div>
    <div class="w-1/5 mt-20 ml-20 text-sm hidden lg:flex">
      <ul>
        <li class="mb-6 font-clanProMedium text-red-[#9FA3B2]">Inhalte:</li>
        <li class="mb-4 text-red-[#9FA3B2]">Bericht zum Stand der OD-Strategie von SenInnDS</li>
        <li class="mb-4 text-red-[#9FA3B2]">Musterdatenkatalog für Berlin</li>
        <li class="mb-4 text-red-[#9FA3B2]">Neues von den OD-Beauftragten</li>
        <li class="mb-4 text-red-[#9FA3B2]">Fazit: Mit Schwung ins neue Jahr!</li>
      </ul>
    </div>
  </div>
</section>