<!DOCTYPE html>
<html>

{% include "head.html" %}

<body>

	<!--@todo klären was barba.js macht -->
	<div id="barba-wrapper">
		<div>
			{% include "topnav.html" %}
		</div>


		<!--header-->

		<section class="bg-blue-500  text-cyan-50 flex justify-center font-clanProMedium">

			<div class="flex flex-col w-1/2 outline my-20">
				
				<div class="text-sm">
					{{page.date | date: "%d.%m.%Y" }}
				</div>

				<div class="text-4xl">
					{{ title }}
				</div>

				<div>
					{{ metaDescription }}
				</div>

			</div>
		</section>


		<section class="flex">

			<!--content-->
			<div style="outline: 2px solid red;" class="w-4/5 pl-8 pr-24 mr-16 text-l">

				<div>
					{{ content }}
				</div>
			</div>


			<!--side navigation-->
			<div style="outline: 2px solid blue" class="w-1/5"><!--liegt in tailwind.config.js-->
				<p>Bericht zum Stand der OD-Strategie von SenInnDS</p>
				<p>Musterdatenkatalog für Berlin</p>
				<p>Neues von den OD-Beauftragten</p>
				<p>Fazit: Mit Schwung ins neue Jahr!</p>
			</div>
		</section>

		<section>
			{% include "footer.html" %}
			{% include "matomo.html" %}
		</section>


	</div>





</body>

</html>