:root {
  --high-contrast-blue-darker: #040b22;
  --high-contrast-blue-dark: #0a153b;
  --high-contrast-blue: #122467;
  --high-contrast-blue-medium: #273a91;
  --high-contrast-blue-light: #c7e5f9;
  --high-contrast-blue-ultralight: #f8fcff;
  --high-contrast-gray-light: #7f898d;
  --high-contrast-gray: #374044;
  --high-contrast-red: #e60032;
  --high-contrast-red-dark: #c42c3a;

  --blue-darker: #0c163b;
  --blue-dark: #172763;
  --blue: #20378b;
  --blue-medium: #4c64cd;
  --blue-light: #bee4f8;
  --blue-ultralight: #edf8fe;
  --white: #ffffff;
  --gray-light: #d1dbe0;
  --gray: #6e7a80;
  --red: #e60032;
  --red-dark: #c42c3a;

  --bg: var(--white);
  --bg-alt: var(--blue-ultralight);
  --bg-inv: var(--blue);

  --text: var(--blue-darker);
  --text-inv: var(--blue-ultralight);

  --links: var(--blue-dark);
  --links-inv: var(--blue-light);
  --links-active: var(--red);

  --headlines: var(--blue);
  --headlines-inv: var(--blue-light);
  --links-active-inv: var(--red);

  --line: var(--blue);
  --line-dark: var(--blue-dark);
  --line-inv: var(--blue-light);
  --line-dark-inv: var(--blue-ultralight);

  --shadow-primary: var(--blue);
  --shadow-secondary: var(--blue-light);
  --shadow-primary-inv: var(--blue-dark);
  --shadow-secondary-inv: var(--blue-dark);

  --containerWidth: 100vw;
  --gridGap: 1.5rem;
  --marginSize: calc((100vw - var(--containerWidth)) / 2);
  --columnSize: calc((var(--containerWidth) - (13 * var(--gridGap))) / 12);
  --contentOffset: calc(
    (var(--marginSize) + (var(--gridGap) * 2) + var(--columnSize)) * -1
  );
}

@media (prefers-contrast: more) {
  :root {
    --bg-alt: var(--high-contrast-blue-ultralight);
    --bg-inv: var(--high-contrast-blue);

    --text: var(--high-contrast-blue-darker);
    --text-inv: var(--high-contrast-blue-ultralight);

    --links: var(--high-contrast-blue-dark);
    --links-inv: var(--high-contrast-blue-light);
    --links-active: var(--high-contrast-red);

    --headlines: var(--high-contrast-blue);
    --headlines-inv: var(--high-contrast-blue-light);
    --links-active-inv: var(--high-contrast-red);

    --line: var(--high-contrast-blue);
    --line-dark: var(--high-contrast-blue-dark);
    --line-inv: var(--high-contrast-blue-light);
    --line-dark-inv: var(--high-contrast-blue-ultralight);

    --shadow-primary: var(--high-contrast-blue);
    --shadow-secondary: var(--high-contrast-blue-light);
    --shadow-primary-inv: var(--high-contrast-blue-dark);
    --shadow-secondary-inv: var(--high-contrast-blue-dark);
  }
}

html.dark {
  --bg: var(--blue-darker);
  --bg-alt: var(--blue-dark);
  --bg-inv: var(--blue-dark);

  --text: var(--blue-ultralight);
  --text-inv: var(--white);

  --links: var(--blue-light);
  --links-inv: var(--white);

  --headlines: var(--white);
  --headlines-inv: var(--blue-ultralight);

  --line: var(--blue-medium);
  --line-dark: var(--blue-medium);
  --line-inv: var(--blue-dark);
  --line-dark-inv: var(--blue-darker);

  --shadow-primary: var(--blue-dark);
  --shadow-secondary: var(--blue-dark);
  --shadow-primary-inv: var(--blue-darker);
  --shadow-secondary-inv: var(--blue-darker);
}

@media (prefers-contrast: more) {
  html.dark {
    --bg: var(--high-contrast-blue-darker);
    --bg-alt: var(--high-contrast-blue-dark);
    --bg-inv: var(--high-contrast-blue-dark);

    --text: var(--high-contrast-blue-ultralight);

    --links: var(--high-contrast-blue-light);

    --headlines-inv: var(--high-contrast-blue-ultralight);

    --line: var(--high-contrast-blue-medium);
    --line-dark: var(--high-contrast-blue-medium);
    --line-inv: var(--high-contrast-blue-dark);
    --line-dark-inv: var(--high-contrast-blue-darker);

    --shadow-primary: var(--high-contrast-blue-dark);
    --shadow-secondary: var(--high-contrast-blue-dark);
    --shadow-primary-inv: var(--high-contrast-blue-darker);
    --shadow-secondary-inv: var(--high-contrast-blue-darker);
  }
}
