/*! purgecss start ignore */
@font-face {
  font-family: "Clan";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/clan-news.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Clan";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/clan-newsitalic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Clan";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/clan-bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Clan";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/clan-boldItalic.woff") format("woff");
  font-display: swap;
}
/*! purgecss end ignore */
