@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Clan";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/clan-news.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "Clan";
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/clan-newsitalic.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "Clan";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/clan-bold.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "Clan";
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/clan-boldItalic.woff") format("woff");
    font-display: swap;
  }

  :root {
    --blue-darker: #0c163b;
    --blue-dark: #172763;
    --blue: #20378b;
    --blue-medium: #4c64cd;
    --blue-light: #bee4f8;
    --blue-ultralight: #edf8fe;
    --white: #ffffff;
    --gray-light: #d1dbe0;
    --red: #e60032;
    --red-dark: #c42c3a;

    --bg: var(--white);
    --bg-alt: var(--blue-ultralight);
    --bg-inv: var(--blue);

    --text: var(--blue-darker);
    --text-inv: var(--blue-ultralight);

    --links: var(--blue-dark);
    --links-inv: var(--blue-light);
    --links-active: var(--red);

    --headlines: var(--blue);
    --headlines-inv: var(--blue-light);
    --links-active-inv: var(--red);

    --line: var(--blue);
    --line-dark: var(--blue-dark);
    --line-inv: var(--blue-light);
    --line-dark-inv: var(--blue-ultralight);

    --shadow-primary: var(--blue);
    --shadow-secondary: var(--blue-light);
    --shadow-primary-inv: var(--blue-dark);
    --shadow-secondary-inv: var(--blue-dark);

    --containerWidth: 100vw;
    --gridGap: 1.5rem;
    --marginSize: calc((100vw - var(--containerWidth)) / 2);
    --columnSize: calc((var(--containerWidth) - (13 * var(--gridGap))) / 12);
    --contentOffset: calc(
      (var(--marginSize) + (var(--gridGap) * 2) + var(--columnSize)) * -1
    );
  }

  @media (min-width: 640px) {
    :root {
      --containerWidth: 640px;
      --marginSize: calc((100vw - var(--containerWidth)) / 2);
      --columnSize: calc((var(--containerWidth) - (13 * var(--gridGap))) / 12);
      --contentOffset: calc(
        (var(--marginSize) + (var(--gridGap) * 2) + var(--columnSize)) * -1
      );
    }
  }

  @media (min-width: 768px) {
    :root {
      --containerWidth: 768px;
      --marginSize: calc((100vw - var(--containerWidth)) / 2);
      --columnSize: calc((var(--containerWidth) - (13 * var(--gridGap))) / 12);
      --contentOffset: calc(
        (var(--marginSize) + (var(--gridGap) * 2) + var(--columnSize)) * -1
      );
    }
  }

  @media (min-width: 1024px) {
    :root {
      --containerWidth: 1024px;
      --marginSize: calc((100vw - var(--containerWidth)) / 2);
      --columnSize: calc((var(--containerWidth) - (13 * var(--gridGap))) / 12);
      --contentOffset: calc(
        (var(--marginSize) + (var(--gridGap) * 2) + var(--columnSize)) * -1
      );
    }
  }

  @media (min-width: 1280px) {
    :root {
      --containerWidth: 1280px;
      --marginSize: calc((100vw - var(--containerWidth)) / 2);
      --columnSize: calc((var(--containerWidth) - (13 * var(--gridGap))) / 12);
    }
  }

  /* To apply dark mode, apply the [data-applied-mode='dark'] to the <html /> tag and add this CSS */
  :root[data-applied-mode="dark"] {
    --bg: var(--blue-darker);
    --bg-alt: var(--blue);
    --bg-inv: var(--blue-ultralight);

    --text: var(--blue-ultralight);
    --text-inv: var(--blue-darker);

    --links: var(--blue-light);
    --links-inv: var(--blue);

    --headlines: var(--blue-light);
    --headlines-inv: var(--blue-dark);

    --line: var(--blue-light);
    --line-dark: var(--blue-light);
    --line-inv: var(--blue-dark);
    --line-dark-inv: var(--blue-darker);

    --shadow-primary: var(--blue-dark);
    --shadow-secondary: var(--blue-dark);
    --shadow-primary-inv: var(--blue-light);
    --shadow-secondary-inv: var(--blue-light);
  }

  body,
  html {
    @apply font-sans text-text bg-bg;
    scroll-behavior: smooth;
  }
}

@layer components {
  .focusable {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-links;
    @apply focus-visible:ring-offset-8 focus-visible:ring-offset-bg focus-visible:bg-bg;
  }
}

@layer utilities {
  .text-stroke-2 {
    -webkit-text-stroke-width: 2px;
  }

  .text-stroke-line {
    -webkit-text-stroke-color: var(--line);
  }
}

@layer components {
  .grid-container {
    @apply container mx-auto grid grid-cols-12 gap-4 @sm:gap-6 px-4 @sm:px-6 xl:max-w-7xl;
  }

  .grid-container > * {
    @apply col-start-1 col-span-12 @lg:col-start-2 @lg:col-span-10;
  }
}

.prose :where(p):not(:where([class~="not-prose"] *)) {
  @apply leading-relaxed max-w-prose mb-4;
}
.prose :where(p.lead):not(:where([class~="not-prose"] *)) {
  @apply text-xl mb-6;
}

.prose :where(h1):not(:where([class~="not-prose"] *)),
.prose :where(h2):not(:where([class~="not-prose"] *)),
.prose :where(h3):not(:where([class~="not-prose"] *)),
.prose :where(h4):not(:where([class~="not-prose"] *)),
.prose :where(h5):not(:where([class~="not-prose"] *)),
.prose :where(h6):not(:where([class~="not-prose"] *)) {
  @apply text-headlines font-bold text-balance max-w-prose;
}
.prose-invert :where(h1),
.prose-invert :where(h2),
.prose-invert :where(h3),
.prose-invert :where(h4),
.prose-invert :where(h5),
.prose-invert :where(h6) {
  @apply text-headlines-inv;
}
.prose :where(a > h1):not(:where([class~="not-prose"] *)),
.prose :where(a > h2):not(:where([class~="not-prose"] *)),
.prose :where(a > h3):not(:where([class~="not-prose"] *)),
.prose :where(a > h4):not(:where([class~="not-prose"] *)),
.prose :where(a > h5):not(:where([class~="not-prose"] *)),
.prose :where(a > h6):not(:where([class~="not-prose"] *)),
.prose-invert :where(a > h1):not(:where([class~="not-prose"] *)),
.prose-invert :where(a > h2):not(:where([class~="not-prose"] *)),
.prose-invert :where(a > h3):not(:where([class~="not-prose"] *)),
.prose-invert :where(a > h4):not(:where([class~="not-prose"] *)),
.prose-invert :where(a > h5):not(:where([class~="not-prose"] *)),
.prose-invert :where(a > h6):not(:where([class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(h1):not(:where([class~="not-prose"] *)) {
  @apply leading-tight text-5xl mb-4;
}

.prose :where(h2):not(:where([class~="not-prose"] *)) {
  @apply leading-tight text-3xl mb-4;
}

.prose :where(h3):not(:where([class~="not-prose"] *)) {
  @apply text-xl mb-2 mt-0 pt-6;
}

.prose :where(h4):not(:where([class~="not-prose"] *)),
.prose :where(h5):not(:where([class~="not-prose"] *)),
.prose :where(h6):not(:where([class~="not-prose"] *)) {
  @apply text-lg mb-1 mt-0 pt-4;
}

.prose :where(h5):not(:where([class~="not-prose"] *)),
.prose :where(h6):not(:where([class~="not-prose"] *)) {
  @apply uppercase tracking-widest leading-5;
}

.prose :where(h6):not(:where([class~="not-prose"] *)) {
  @apply font-normal;
}

.prose :where(a > h1):not(:where([class~="not-prose"] *)),
.prose-invert :where(a > h1):not(:where([class~="not-prose"] *)) {
  @apply mt-0 pt-8;
}

.prose :where(a > h2):not(:where([class~="not-prose"] *)),
.prose-invert :where(a > h2):not(:where([class~="not-prose"] *)) {
  @apply mt-0 pt-6;
}

.prose :where(a > h3):not(:where([class~="not-prose"] *)),
.prose-invert :where(a > h3):not(:where([class~="not-prose"] *)) {
  @apply mt-0 pt-5;
}

.prose :where(a > h4):not(:where([class~="not-prose"] *)),
.prose :where(a > h5):not(:where([class~="not-prose"] *)),
.prose :where(a > h6):not(:where([class~="not-prose"] *)),
.prose-invert :where(a > h4):not(:where([class~="not-prose"] *)),
.prose-invert :where(a > h5):not(:where([class~="not-prose"] *)),
.prose-invert :where(a > h6):not(:where([class~="not-prose"] *)) {
  @apply mt-0 pt-4;
}

.prose :where(a:first-of-type > h1):not(:where([class~="not-prose"] *)),
.prose :where(a:first-of-type > h2):not(:where([class~="not-prose"] *)),
.prose :where(a:first-of-type > h3):not(:where([class~="not-prose"] *)),
.prose :where(a:first-of-type > h4):not(:where([class~="not-prose"] *)),
.prose :where(a:first-of-type > h5):not(:where([class~="not-prose"] *)),
.prose :where(a:first-of-type > h6):not(:where([class~="not-prose"] *)),
.prose-invert :where(a:first-of-type > h1):not(:where([class~="not-prose"] *)),
.prose-invert :where(a:first-of-type > h2):not(:where([class~="not-prose"] *)),
.prose-invert :where(a:first-of-type > h3):not(:where([class~="not-prose"] *)),
.prose-invert :where(a:first-of-type > h4):not(:where([class~="not-prose"] *)),
.prose-invert :where(a:first-of-type > h5):not(:where([class~="not-prose"] *)),
.prose-invert :where(a:first-of-type > h6):not(:where([class~="not-prose"] *)) {
  @apply mt-0 pt-0;
}

.prose :where(details):not(:where([class~="not-prose"] *)) {
  @apply mt-4 pt-4 border-t border-discrete;
}
.prose :where(summary):not(:where([class~="not-prose"] *)) {
  @apply cursor-pointer transition-colors hover-hover:hover:text-links-active focusable;
}
.prose :where(summary::marker):not(:where([class~="not-prose"] *)) {
  @apply text-discrete text-base lg:text-base;
}
