---
layout: default
title: Ressourcen
---

<h1>Ressourcen</h1>
<p>
    Der Einstieg auf dem Weg zu einer Open Data Veröffentlichung kann auf den ersten Blick schwer zu finden sein.
    Durch ein strukturiertes Vorgehen können Sie jedoch leicht sicherstellen, dass Ihrer Veröffentlichung nichts im Weg steht und Ihre Daten nachhaltig genutzt werden können.
    Hierfür hat ODIS insbesondere für Mitarbeiter*innen der Berliner Verwaltung eine Auswahl an Leitfäden und Checklisten entwickelt.
    Für eine tiefergehende Auseinandersetzung mit den einzelnen Themenbereichen, finden Sie hier außerdem eine Sammlung von Links zu externen Ressourcen, die wir als besonders empfehlenswert erachten.
</p>

{% assign accordionCounter= 0 %}
{% for r in site.data.ressourcen.ressources %}
{% assign accordionCounter = accordionCounter | plus: 1 %}
<div class="row mt-5">
    <div class="col-md-9">
            <h4 class="mb-3">{{r.title}}</h4>
        <div class="accordion" id="accordion-{{accordionCounter}}">
            {% assign counter = 0 %}
            {% for group in r.groups %}
            {% assign counter = counter | plus: 1 %}
            <div class="card">
                <div class="card-header" id="heading-{{accordionCounter}}-{{counter}}">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{accordionCounter}}-{{counter}}"
                            aria-expanded="true" aria-controls="collapse-{{accordionCounter}}-{{counter}}">
                            {{group.question}}
                        </button>
                    </h5>
                </div>
        
                <div id="collapse-{{accordionCounter}}-{{counter}}" class="collapse" aria-labelledby="heading-{{accordionCounter}}-{{counter}}" data-parent="#accordion-{{accordionCounter}}">
                    <div class="card-body">
                            {% for link in group.sublinks %}
                            <div class="pb-3">

                                    <div class="row">
                                        {% if link.image%}
                                        <div class="col-3">
                                            <img class="img-fluid" alt="{{link.title}}" src="/assets/images/{{link.image}}">
                                        </div>
                                        {% endif %}
                                        <div class="col">
                                            {% if link.source%}
                                            <h5 style="color: #213A8F;">{{link.source}}</h5>
                                            {% endif %}
                                            <h6>{{ link.text }}</h6>
                                            <a href="{{link.url}}">{{link.title}}</a>
                                        </div>

                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
