---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = {
  metaTitle: string;
  metaDescription: string;
  externalLibs?: string[];
};

const { metaTitle, metaDescription, externalLibs = [] } = Astro.props;
---

<html lang="de">
  <head>
    <BaseHead
      title={metaTitle}
      description={metaDescription}
      externalLibs={externalLibs}
    />
  </head>

  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
