---
import HighlightedDatasets from "@/components/HighlightedDatasets.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout metaTitle={SITE_TITLE} metaDescription={SITE_DESCRIPTION}>
  <div class="grid-container">
    <HighlightedDatasets />
  </div>
</DefaultLayout>
