---
import HighlightedDatasets from "@/components/HighlightedDatasets.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { getEntry } from "astro:content";
import Paragraph from "@/components/Paragraph.astro";
import Heading from "@/components/Heading.astro";

const { data } = await getEntry("homepage", "homepage");
const { intro } = data;
---

<DefaultLayout metaTitle={SITE_TITLE} metaDescription={SITE_DESCRIPTION}>
  <div class="grid-container">
    <div class="max-w-[50ch] lg:col-start-4 lg:col-span-7">
      <Heading
        size="xxl"
        class="font-normal"
        set:html={intro.title.replaceAll(
          /\*\*(.+)\*\*/g,
          "<strong>$1</strong>",
        )}
      />
      {intro.text && <Paragraph size="lg" set:html={intro.text} />}
    </div>
  </div>
  <div class="grid-container">
    <HighlightedDatasets />
  </div>
</DefaultLayout>
