---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout metaTitle={SITE_TITLE} metaDescription={SITE_DESCRIPTION}>
  <h1>HIGHLIGH</h1>
</DefaultLayout>
