<!-- <html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Gieß den Kiez – Kennzahlen</title>
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1,user-scalable=no"
    /> -->
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js"></script>
<link
  href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css"
  rel="stylesheet"
/>
<script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
<style>
  body {
    margin: 0;
    padding: 0;
  }
  #map {
    width: 100%;
    min-height: 550px;
  }
  .mapboxgl-popup {
    width: inline-block;
    font:
      12px/14px "Helvetica Neue",
      Arial,
      Helvetica,
      sans-serif;
  }

  .mapboxgl-popup-content {
    padding: 1em 1em 0 1em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.11);
  }
  .legend {
    background-color: #fff;
    border-radius: 5px;
    top: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font:
      12px "Helvetica Neue",
      Arial,
      Helvetica,
      sans-serif;
    padding: 10px;
    position: absolute;
    left: 10px;
    z-index: 1;
  }

  .legend h3,
  h4 {
    margin: 0 0 0;
  }

  .legend p {
    margin: 10px 0 10px;
  }

  .legend div span {
    border-radius: 50%;
    display: inline;
    height: 10px;
    margin-right: 5px;
    width: 10px;
  }

  .closebtn {
    font-size: 20px;
  }

  .openbtn {
    font-size: 14px;
    cursor: pointer;
    color: #35de89;
    background-color: transparent;
    margin-top: 5px;
    padding: 2px 0px;
    border: none;
  }
</style>
<!-- </head>
  <body> -->
<div id="map">
  <div id="state-legend" class="legend">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
      >&times;</a
    >
    <h4>Gieß den Kiez Kennzahlen</h4>
    <p><em>Zeitraum: 05/2020 bis 10/2021</em></p>
    <hr style="opacity: 0.4; margin: 0 0 0 0" />
    <p
      style="
        background-color: #35de89;
        opacity: 0.8;
        color: white;
        padding: 0.5em 1em 0.5em 1em;
        display: inline-flex;
        margin: 1em 0 0 0;
      "
    >
      <strong>Berlin</strong>
    </p>
    <p>
      ∑ Gegossene Bäume: <strong><span id="sumBaumBerlin"></span></strong>
    </p>
    <p>
      ∑ Gießungen: <strong><span id="sumGiessBerlin"></span></strong>
    </p>
    <p>
      ∑ Wassermenge: <strong><span id="sumWasserBerlin"></span>Liter</strong>
    </p>
    <hr style="opacity: 0.4; margin: 0 0 0 0" />
    <p
      style="
        background-color: #35de89;
        opacity: 0.8;
        color: white;
        padding: 0.5em 1em 0.5em 1em;
        display: inline-flex;
        margin: 1em 0 0 0;
      "
    >
      <strong><span id="kiezname">Bezirk nicht ausgewählt</span></strong>
    </p>
    <p>
      ∑ Gegossene Bäume: <strong><span id="sumBaumBezirk">0</span></strong>
    </p>
    <p>
      ∑ Gießungen: <strong><span id="sumGiessBezirk">0</span></strong>
    </p>
    <p>
      ∑ Wassermenge: <strong><span id="sumWasserBezirk">0</span> Liter</strong>
    </p>
  </div>
  <div id="closed-legend" class="legend" style="display: none">
    <button class="openbtn" onclick="openNav()">&#9776; Öffne Infobox</button>
    <h4>Gieß den Kiez Kennzahlen</h4>
  </div>

  <script>
    function closeNav() {
      document.getElementById("state-legend").style.display = "none";
      document.getElementById("closed-legend").style.display = "block";
    }
    function openNav() {
      document.getElementById("state-legend").style.display = "block";
      document.getElementById("closed-legend").style.display = "none";
    }

    mapboxgl.accessToken =
      "pk.eyJ1IjoianVsaWF6ZXQiLCJhIjoiY2trdmhkdmE0MXNidjJ1cGZhaXVrZDE1NSJ9.I0eyCt352bKnMo50n4cDIQ";
    var map;
    map = new mapboxgl.Map({
      container: "map", // container id
      style: "mapbox://styles/mapbox/light-v9",
      center: [13.430168, 52.489868], // starting position ([lng, lat] close to Hermannplatz
      zoom: 14, // starting zoom
      pitch: 45,
      maxZoom: 17,
      minZoom: 9,
    });

    var bezirkID = null;

    var scale = new mapboxgl.ScaleControl({
      maxWidth: 160,
      unit: "metric",
    });
    map.addControl(scale, "bottom-right");
    map.addControl(new mapboxgl.NavigationControl());
    map.addControl(new mapboxgl.FullscreenControl());

    map.addControl(
      new mapboxgl.GeolocateControl({
        positionOptions: {
          enableHighAccuracy: true,
        },
        trackUserLocation: true,
      }),
    );

    // helper function
    function numberFormat(num) {
      return num
        .toFixed(0) // always two decimal digits
        .replace(".", ",") // replace decimal point character with ,
        .replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1."); // use . as a separator
    }

    let kiezname;
    let trees;
    let sumB = 0;
    let sumG = 0;
    let sumW = 0;
    // load data with vanllia JS
    fetch("./data/treesWateredSum.geojson")
      .then((data) => data.json())
      .then((geojson) => {
        trees = Object.values(geojson); // object
        trees = trees[1]; // array

        // +++ calculate numbers for Berlin
        sumB = trees.length;
        trees.forEach(function (feature) {
          sumG = sumG + feature.properties.anzahlG;
          sumW = sumW + feature.properties.wassersumme;
        });

        const sumBaumBerlin = document.getElementById("sumBaumBerlin");
        sumBaumBerlin.innerHTML = numberFormat(sumB);
        const sumGiessBerlin = document.getElementById("sumGiessBerlin");
        sumGiessBerlin.innerHTML = numberFormat(sumG);
        const sumWasserBerlin = document.getElementById("sumWasserBerlin");
        sumWasserBerlin.innerHTML = numberFormat(sumW);
      });

    map.on("load", function () {
      map.addSource("bezirke", {
        type: "geojson",
        generateId: true,
        data: "./data/bezirksgrenzen.geojson",
      });

      map.addSource("watered-trees", {
        type: "vector",
        url: "mapbox://juliazet.d8jpuaz0",
      });

      map.addSource("watered-trees-geojson", {
        type: "geojson",
        data: "./data/treesExtrusion.geojson",
      });

      map.addLayer({
        id: "bezirk-fill",
        type: "fill",
        source: "bezirke",
        layout: {},
        paint: {
          "fill-color": "#35DE89",
          "fill-opacity": [
            "case",
            ["boolean", ["feature-state", "hover"], false],
            0.18,
            0,
          ],
        },
      });

      map.addLayer({
        id: "bezirk-outline",
        type: "line",
        source: "bezirke",
        layout: {},
        paint: {
          "line-color": "#35DE89",
          "line-width": 1.5,
        },
      });

      map.addLayer({
        id: "watered-trees",
        type: "circle",
        source: "watered-trees",
        "source-layer": "treesWateredSum-7hk920",
        paint: {
          // Make circles larger as the user zooms from z12 to z22.
          "circle-radius": {
            base: 2,
            stops: [
              [10, 2],
              [22, 100],
            ],
          },
          // Color circles by ethnicity, using a `match` expression.
          "circle-color": /* other */ "#2F2FA2",
        },
      });

      map.addLayer({
        id: "watered-extrusion",
        type: "fill-extrusion",
        source: "watered-trees-geojson",
        paint: {
          // Get the `fill-extrusion-color` from the source `color` property.
          "fill-extrusion-color": "#2F2FA2",

          // Get `fill-extrusion-height` from the source `height` property.
          "fill-extrusion-height": ["get", "wassersumme"],

          // Get `fill-extrusion-base` from the source `base_height` property.
          "fill-extrusion-base": 0,

          // Make extrusions slightly opaque to see through indoor walls.
          "fill-extrusion-opacity": 0.5,
        },
      });
      // +++ END OF MAP ON LOAD
    });

    // when user moves their mouse over the state-fill layer, update the feature state for hovered feature
    map.on("mousemove", "bezirk-fill", function (e) {
      if (e.features.length > 0) {
        if (bezirkID !== null) {
          map.setFeatureState(
            { source: "bezirke", id: bezirkID },
            { hover: false },
          );
        }
        // Use the first found id of the feature.
        bezirkID = e.features[0].id;
        map.setFeatureState(
          { source: "bezirke", id: bezirkID },
          { hover: true },
        );
      }

      kiezname = e.features[0].properties.Gemeinde_name;
      const kieznameElement = document.getElementById("kiezname");
      kieznameElement.innerHTML = kiezname;

      // +++ calculate numbers for hovered Bezirk
      let bezirkTrees = trees.filter((e) => e.properties.bezirk === kiezname);
      let sumBBezirk = bezirkTrees.length;
      let sumGBezirk = 0;
      let sumWBezirk = 0;

      bezirkTrees.forEach(function (feature) {
        sumGBezirk = sumGBezirk + feature.properties.anzahlG;
        sumWBezirk = sumWBezirk + feature.properties.wassersumme;
      });

      let ratioBaum = (sumBBezirk / sumB) * 100;
      ratioBaum = ratioBaum.toFixed(2);

      let ratioGiess = (sumGBezirk / sumG) * 100;
      ratioGiess = ratioGiess.toFixed(2);

      let ratioWasser = (sumWBezirk / sumW) * 100;
      ratioWasser = ratioWasser.toFixed(2);

      const sumBaumBezirk = document.getElementById("sumBaumBezirk");
      sumBaumBezirk.innerHTML =
        numberFormat(sumBBezirk) + " (" + ratioBaum + "%)";
      const sumGiessBezirk = document.getElementById("sumGiessBezirk");
      sumGiessBezirk.innerHTML =
        numberFormat(sumGBezirk) + " (" + ratioGiess + "%)";
      const sumWasserBezirk = document.getElementById("sumWasserBezirk");
      sumWasserBezirk.innerHTML =
        numberFormat(sumWBezirk) + " (" + ratioWasser + "%)";
    });

    // when mouse leaves the state-fill layer, update the feature state of the
    // previously hovered feature.
    map.on("mouseleave", "bezirk-fill", function () {
      if (bezirkID !== null) {
        map.setFeatureState(
          { source: "bezirke", id: bezirkID },
          { hover: false },
        );
      }
      bezirkID = null;
    });

    // create popup, don't use it yet
    var popup = new mapboxgl.Popup({
      closeButton: false,
      closeOnClick: false,
    });

    map.on("mouseenter", "watered-trees", function (e) {
      map.getCanvas().style.cursor = "pointer";

      let coordinates = e.features[0].geometry.coordinates.slice();
      let artdtsch = e.features[0].properties.artdtsch;
      let strname =
        e.features[0].properties.strname === "unbekannte Straße"
          ? ""
          : e.features[0].properties.strname;
      let hausnr =
        e.features[0].properties.hausnr === "unbekannte Nummer"
          ? ""
          : " Nr. " + e.features[0].properties.hausnr;
      let wassersumme = e.features[0].properties.wassersumme;
      let anzahlG = e.features[0].properties.anzahlG;
      let alter = e.features[0].properties.standalter;

      // Ensure that if the map is zoomed out such that multiple
      // copies of the feature are visible, the popup appears
      // over the copy being pointed to.
      while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
        coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
      }

      popup
        .setLngLat(coordinates)
        .setHTML(
          "<p style='background-color: #35de89; opacity: 0.8; color: white; padding: 0.5em 1em 0.5em 1em; display: block; line-height:12px'><strong>" +
            artdtsch +
            " (" +
            alter +
            " Jahre) " +
            "</strong></p>" +
            "<p> ∑ Gießungen: <b>" +
            anzahlG +
            "</b></p>" +
            "<p style='line-height: 60%;'> ∑ Wassermenge: <b>" +
            wassersumme +
            " Liter</b></p><p>" +
            strname +
            hausnr +
            "</p>",
        )
        .addTo(map);
    });

    map.on("mouseleave", "watered-trees", function () {
      map.getCanvas().style.cursor = "";
      popup.remove();
    });
  </script>
  <!-- </body> -->
  <!-- </html> -->
</div>
