<meta name="description" content="{{metaDescription}}" />

<!-- FACEBOOK -->
<meta property="fb:app_id" content="487094758334595" />
<meta property="og:url" content="http://odis-berlin.de" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{site.title}}" />
<meta
  property="og:image"
  content="http://odis-berlin.de/assets/images/social-media.jpg"
/>
<meta property="og:description" content="{{metaDescription}}" />

<!-- TWITTER -->
<meta name="twitter:card" content="summary" />

<meta name="twitter:url" content="http://odis-berlin.de" />
<meta name="twitter:title" content="{{site.title}}" />
<meta name="twitter:description" content="{{metaDescription}}" />
<meta
  name="twitter:image"
  content="http://odis-berlin.de/assets/social-media.jpg"
/>

<!-- GOOGLE+/SCHEMA.ORG -->
<meta itemprop="name" content="{{site.title}}" />
<meta itemprop="description" content="{{metaDescription}}" />
<meta
  itemprop="image"
  content="http://odis-berlin.de/assets/social-media.jpg"
/>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"
/>
