<li
  class="border-t-8 border-line py-4 sm:pt-6 col-span-10 lg:col-span-5 grid gap-x-4 sm:gap-x-6 gap-y-2"
  style="grid-template-columns: subgrid;"
>
  {% render 'heading', tag: 'h3', size: 'lg', text: method.name, class: 'col-span-10 lg:col-span-5' %}
  {% render 'paragraph', text: method.description, class: 'col-span-8 lg:col-span-4' %}
  {% if method.icon %}
    <div class="col-span-2 lg:col-span-1">
      <img src="{{ method.icon }}" alt="Icon for method: '{{ method.name }}'" class="w-full">
    </div>
  {% endif %}
  <div class="col-span-10 lg:col-span-5">
    {% render 'button', text: 'Zur Ressource', variant: 'secondary', href: method.link %}
  </div>
</li>
