<svg
  width="48px"
  height="48px"
  class="
    {% if class  %}
    {{ class }}
    {% endif %}
  "
  viewBox="0 0 48 48"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
>
  <title>Artboard</title>
  <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="fbLogo" transform="translate(4, 4)">
      <circle id="Oval" fill="var(--bg)" cx="20" cy="21" r="19"></circle>
      <path d="M40,20.1213 C40,9.008 31.0467,0 20,0 C8.9533,0 0,9.008 0,20.1213 C0,30.1667 7.312,38.4907 16.8747,40 L16.8747,25.9387 L11.7973,25.9387 L11.7973,20.12 L16.8747,20.12 L16.8747,15.688 C16.8747,10.6453 19.86,7.8587 24.4293,7.8587 C26.616,7.8587 28.9067,8.252 28.9067,8.252 L28.9067,13.204 L26.3827,13.204 C23.8987,13.204 23.1253,14.756 23.1253,16.348 L23.1253,20.1213 L28.672,20.1213 L27.7853,25.9373 L23.1253,25.9373 L23.1253,40 C32.688,38.4907 40,30.1667 40,20.1213 Z" id="Path" fill="currentColor" fill-rule="nonzero"></path>
    </g>
  </g>
</svg>
