<svg
  class="
    {% if class  %}
    {{ class }}
    {% endif %}
  "
  width="48"
  height="48"
  viewBox="0 0 48 48"
  fill="currentColor"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>Artboard</title>
  <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="githubLogo" transform="translate(4, 4)">
      <circle id="Oval" fill="var(--bg)" cx="20" cy="21" r="19"></circle>
      <path d="M20,0 C8.95,0 0,8.9469704 0,19.9932299 C0,28.8402342 5.725,36.3127039 13.675,38.9618068 C14.675,39.1367476 15.05,38.5369507 15.05,38.0121284 C15.05,37.5372892 15.025,35.9628224 15.025,34.2883893 C10,35.2130762 8.7,33.063804 8.3,31.9391848 C8.075,31.3643795 7.1,29.5899803 6.25,29.1151411 C5.55,28.740268 4.55,27.8155812 6.225,27.7905896 C7.8,27.7655981 8.925,29.2400988 9.3,29.8398957 C11.1,32.8638717 13.975,32.0141594 15.125,31.4893372 C15.3,30.1897772 15.825,29.3150734 16.4,28.8152426 C11.95,28.3154119 7.3,26.5909958 7.3,18.9435854 C7.3,16.7693216 8.075,14.9699309 9.35,13.5704048 C9.15,13.0705741 8.45,11.021268 9.55,8.27219889 C9.55,8.27219889 11.225,7.7473766 15.05,10.321505 C16.65,9.87165728 18.35,9.64673345 20.05,9.64673345 C21.75,9.64673345 23.45,9.87165728 25.05,10.321505 C28.875,7.72238506 30.55,8.27219889 30.55,8.27219889 C31.65,11.021268 30.95,13.0705741 30.75,13.5704048 C32.025,14.9699309 32.8,16.7443301 32.8,18.9435854 C32.8,26.6159874 28.125,28.3154119 23.675,28.8152426 C24.4,29.4400311 25.025,30.6396249 25.025,32.5139902 C25.025,35.1880847 25,37.3373569 25,38.0121284 C25,38.5369507 25.375,39.1617391 26.375,38.9618068 C30.3454,37.6218606 33.7954,35.0710243 36.2396,31.6683765 C38.6838,28.2656288 39.9989,24.1823114 40,19.9932299 C40,8.9469704 31.05,0 20,0 Z" id="Path" fill="currentColor" fill-rule="nonzero"></path>
    </g>
  </g>
</svg>
