---
import { Icon } from "astro-icon/components";

export type Props = {
  items: string[];
};

const { items } = Astro.props;
---

{
  items.length > 0 && (
    <ul class="flex flex-col font-bold gap-3 mb-5">
      {items.map((item) => (
        <li class="flex gap-2 text-balance">
          <Icon name="ui/check" class="text-links-active" size={20} />
          {item}
        </li>
      ))}
    </ul>
  )
}
