---
import Button from "./Button.astro";
import ContactLane from "./ContactLane.astro";
import Heading from "./Heading.astro";
import Paragraph from "./Paragraph.astro";
import TextLink from "./TextLink.astro";

export type Props = {
  class?: string;
};
const { class: className } = Astro.props;
---

<div class={`${className} bg-bg-alt mt-40 py-20`}>
  <!-- newsletter & kontakt -->
  <section
    class="container mx-auto px-4 sm:px-6 gap-4 sm:gap-6 grid grid-cols-12 max-w-7xl"
  >
    <!-- newsletter -->
    <div
      class="col-start-1 col-span-12 sm:col-start-3 lg:col-start-2 sm:col-span-9 lg:col-span-10 flex flex-col mb-16 items-start max-w-[34.5rem]"
    >
      <Heading>Immer up to date?</Heading>
      <Paragraph>
        Du möchtest über Neuigkeiten und Veranstaltungen zu Open Data in Berlin
        informiert werden? Hier geht es zu unserem ODIS-Newsletter!
      </Paragraph>
      <Button
        class="mt-2"
        tag="a"
        href="https://138e9e70.sibforms.com/serve/MUIFAGYAEAR44Fq-1eq_fj5mIX3KqEvRpKi41vCZ2FiQyNDU3mDU2YWfEeLO94un7pEef7bGDIrUOknb4E9CT7UEyxl6Tv0lldJiFW2E6kF7jSIZFioN91_V5hUXppo6cgo0RLXZ4cdzTApHhiaLTZJ2t9ObtyeBVrjGF-GVsiBXhp2_Y02U7emXk6ODHBPS9XJV0JmaxXdfCKdA"
      >
        Newsletter abonnieren
      </Button>
      <p class="mt-6">
        Newsletter verpasst? Stöber in unserem
        <TextLink tag="a" href="/aktuelles/archiv/">
          Newsletter-Archiv.
        </TextLink>
      </p>
    </div>

    <!-- kontakt -->

    <ContactLane />
  </section>
</div>
