---
import type { CollectionEntry, CollectionKey } from "astro:content";
import Paragraph from "./Paragraph.astro";
import { Icon } from "astro-icon/components";

export type Props = CollectionEntry<"resources">["data"]["media"];

const media = Astro.props;

type MediaType = Props["type"];
export const labelsMap: Record<MediaType, string> = {
  video: "Videoanleitung",
  pdf: "PDF Dokument",
  blog: "Blogbeitrag",
  table: "Datensatz",
  project: "Projekt",
  other: "Verschiedenes",
};
export const iconsMap: Record<MediaType, string> = {
  video: "resources/video",
  pdf: "ui/tray-arrow-down",
  blog: "ui/eye",
  table: "ui/tray-arrow-down",
  project: "ui/eye",
  other: "ui/eye",
};
---

<div class="flex flex-col w-full">
  <Paragraph class="flex justify-between gap-2 mb-0">
    <span>{labelsMap[media.type]}</span>
    <Icon name={`resources/${media.type}`} size={20} />
  </Paragraph>
  {
    media.readingOrPlayingTime && (
      <Paragraph class="mb-0">{media.readingOrPlayingTime}</Paragraph>
    )
  }
  {media.size && <Paragraph class="mb-0">{media.size}</Paragraph>}
</div>
