<script src="/assets/js/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-annotation/2.3.0/d3-annotation.min.js"></script>
<script src="/assets/js/main.js"></script>
<link rel="stylesheet" href="/assets/css/charts.css">

<!--more-->
<div class="special-section" id="intro-section">
    <div id="introviscontainer">
        <div id="introvis"></div>
        <div id="introtext">
            <span id="introtitle">Zugriffszahlen</span>
            <span id="introcopy">Die Kurve links zeigt die Zugriffszahlen seid April 2013.<br /><br />Klicke auf weiter um mehr zu erfahren.</span>
            <div style="display: flex;
            justify-content: center;
            align-items: center;">
            <button class="button-primary" id="introprev">zurück</button>
            <div class="divider"></div>
            <button class="button-primary" id="intronext">weiter</button></div>
        </div>
    </div>
</div>