<footer class="grid grid-cols-12 gap-4">
  <div class="col-start-2 col-span-10 border-t-4 border-t-line"></div>

  <div class="col-start-2 col-span-10 xl:col-start-2 xl:col-span-6 pt-9 xl:pb-9 flex flex-col gap-6">
    <!-- logos (linked) -->
    <div class="flex flex-col md:flex-row gap-3 items-center">
      <!-- logo technologiestiftung -->
      <a href="https://www.technologiestiftung-berlin.de">
        <img
          src="../assets/images/logos/tsbLogo.svg"
          alt="Logo der Technologiestiftung Berlin"
          loading="lazy"
        >
      </a>

      <!-- logo berliner verwaltung -->
      <a href="https://www.berlin.de/rbmskzl/">
        <img
          src="../assets/images/logos/berlinLogo.svg"
          alt="Logo des Regierenden Bürgermeisters von Berlin"
          loading="lazy"
        >
      </a>

      <!-- logo ibb -->
      <a href="https://www.ibb.de">
        <img
          src="../assets/images/logos/ibbLogo.svg"
          alt="Logo der Investitionsbank Berlin"
          loading="lazy"
        >
      </a>

      <!-- logo berlin open data -->
      <a href="https://daten.berlin.de/">
        <img
          src="../assets/images/logos/berlinOpenDataLogo.svg"
          alt="Logo von Berlin Open Data"
          loading="lazy"
        >
      </a>
    </div>

    <!-- text -->
    <p class="max-w-md text-sm">
      Ein Projekt der Technologiestiftung Berlin. Gefördert von der Senatsverwaltung für Wirtschaft, Energie und
      Betriebe und der Investitionsbank Berlin aus den Mitteln des Landes Berlin.
    </p>
  </div>

  <div class="col-start-2 col-span-12 xl:col-end-12 xl:col-span-3 flex flex-col gap-6 pt-4 xl:pt-9 pb-9">
    <!-- social media icons -->
    <div class="flex xl:justify-end">
      <a href="https://www.facebook.com/Technologiestiftung">
        <img
          src="../assets/images/logos/fbLogo.svg"
          alt="Logo von Facebook"
          loading="lazy"
        >
      </a>

      <a href="https://github.com/technologiestiftung">
        <img
          src="../assets/images/logos/githubLogo.svg"
          alt="Logo von Github"
          loading="lazy"
        >
      </a>

      <a href="https://www.youtube.com/channel/UCXKw3_0L2rqLpz94L7YwFqg">
        <img
          src="../assets/images/logos/youtubeLogo.svg"
          alt="Logo von Twitter"
          loading="lazy"
        >
      </a>

      <a href="https://twitter.com/TSBBerlin">
        <img
          src="../assets/images/logos/twitterLogo.svg"
          alt="Logo von Twitter"
          loading="lazy"
        >
      </a>

      <a href="https://www.instagram.com/technologiestiftung/">
        <img
          src="../assets/images/logos/instagramLogo.svg"
          alt="Logo von Instagram"
          loading="lazy"
        >
      </a>

      <a href="https://www.linkedin.com/company/technologiestiftung/">
        <img
          src="../assets/images/logos/linkedInLogo.svg"
          alt="Logo von Instagram"
          loading="lazy"
        >
      </a>
    </div>

    <!-- outlinks -->
    <div class="flex gap-4 xl:justify-end">
      <a
        href="https://www.technologiestiftung-berlin.de/de/stiftung/kontakt-anfahrt/"
        class="text-links font-bold"
      >
        Kontakt
      </a>

      <a
        href="https://www.technologiestiftung-berlin.de/de/datenschutz/"
        class="text-links font-bold"
      >
        Datenschutz
      </a>

      <a
        href="https://www.technologiestiftung-berlin.de/de/impressum/"
        class="text-links font-bold"
      >
        Impressum
      </a>
    </div>
  </div>
</footer>
