<footer class="container max-w-6xl mx-auto grid grid-cols-12 gap-4 border-t-4 border-t-line">
  <div
    class="col-start-2 col-span-10 xl:col-span-6 pt-9 xl:pb-9 flex flex-col gap-6"
  >
    <div class="flex flex-wrap gap-3">
      <a
        href="https://www.technologiestiftung-berlin.de"
        class="focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-links/50 focus-visible:ring-offset-8"
      >
        {% render 'assets/images/logos/tsbLogo', class: 'text-links hover:text-links-active' %}
      </a>

      <a
        href="https://www.berlin.de/rbmskzl/"
        class="focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-links/50 focus-visible:ring-offset-8"
      >
        {% render 'assets/images/logos/berlinLogo', class: 'text-links hover:text-links-active' %}
      </a>

      <a
        href="https://www.ibb.de"
        class="focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-links/50 focus-visible:ring-offset-8"
      >
        {% render 'assets/images/logos/ibbLogo', class: 'text-links hover:text-links-active' %}
      </a>

      <a
        href="https://daten.berlin.de/"
        class="focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-links/50 focus-visible:ring-offset-8"
      >
        {% render 'assets/images/logos/berlinOpenDataLogo', class: 'text-links hover:text-links-active' %}
      </a>
    </div>

    {% render 'paragraph',
      text: 'Ein Projekt der Technologiestiftung Berlin.
    Gefördert von der Senatsverwaltung für Wirtschaft, Energie und Betriebe und
    der Investitionsbank Berlin aus den Mitteln des Landes Berlin.'
    %}
  </div>

  <div
    class="col-start-2 col-span-12 xl:col-end-13 xl:col-span-3 flex flex-col gap-6 pt-4 xl:pt-9 pb-9"
  >
    <div class="flex xl:justify-end">
      <a
        href="https://www.facebook.com/Technologiestiftung"
        class="rounded-full focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-links/50 focus-visible:ring-offset-0"
      >
        {% render 'assets/images/logos/fbLogo', class: 'text-links hover:text-links-active' %}
      </a>

      <a
        href="https://github.com/technologiestiftung"
        class="rounded-full focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-links/50 focus-visible:ring-offset-0"
      >
        {% render 'assets/images/logos/githubLogo', class: 'text-links hover:text-links-active' %}
      </a>

      <a
        href="https://www.youtube.com/channel/UCXKw3_0L2rqLpz94L7YwFqg"
        class="rounded-full focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-links/50 focus-visible:ring-offset-0"
      >
        {% render 'assets/images/logos/youtubeLogo', class: 'text-links hover:text-links-active' %}
      </a>

      <a
        href="https://twitter.com/TSBBerlin"
        class="rounded-full focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-links/50 focus-visible:ring-offset-0"
      >
        {% render 'assets/images/logos/xLogo', class: 'text-links hover:text-links-active' %}
      </a>

      <a
        href="https://www.instagram.com/technologiestiftung/"
        class="rounded-full focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-links/50 focus-visible:ring-offset-0"
      >
        {% render 'assets/images/logos/instagramLogo', class: 'text-links hover:text-links-active' %}
      </a>

      <a
        href="https://www.linkedin.com/company/technologiestiftung/"
        class="rounded-full focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-links/50 focus-visible:ring-offset-0"
      >
        {% render 'assets/images/logos/linkedInLogo', class: 'text-links hover:text-links-active' %}
      </a>
    </div>

    <div class="flex gap-4 xl:justify-end">
      <a
        href="https://www.technologiestiftung-berlin.de/de/stiftung/kontakt-anfahrt/"
        class="text-links hover:text-links-active font-bold focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-links/50 focus-visible:ring-offset-8"
      >
        Kontakt
      </a>

      <a
        href="https://www.technologiestiftung-berlin.de/de/datenschutz/"
        class="text-links hover:text-links-active font-bold focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-links/50 focus-visible:ring-offset-8"
      >
        Datenschutz
      </a>

      <a
        href="https://www.technologiestiftung-berlin.de/de/impressum/"
        class="text-links hover:text-links-active font-bold focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-links/50 focus-visible:ring-offset-8"
      >
        Impressum
      </a>
    </div>
  </div>
</footer>
