<figure class="w-full">
  <div class="block md:hidden">
    {% include 'partials/map_vertical.html' %}
  </div>
  <div class="hidden md:block">
    {% include 'partials/map_horizontal.html' %}
  </div>
</figure>
