<figure class="mt-10">
  <div class="relative">
    <img src="{{ src }}" alt="{{ caption }}" class="mb-0 shadow-xl max-w-full">
    <div class="absolute pointer-events-none inset-0 ring-1 ring-inset ring-text opacity-10" aria-hidden="true"></div>
  </div>

  <figcaption
    class="
      mt-4 text-xs opacity-70 transition-opacity
      hover:opacity-100 focus-visible:opacity-100
      focusable
    "
    tabindex="0"
  >
    {{ caption }}
  </figcaption>
</figure>
