{% comment %}
  AVAILABLE VARIABLES
  -------------------
    title: Title of the project (required)
    heroImage: Path to hero image (required)
    buttonTitle: Title of button (optional)
    buttonLink: Link of button (optional)
    showImageInMockup: Whether to show a window header mockup (optional)
    mobileImage: Path to mobile image (optional)
    projectUrlWithoutProtocol: Project URL without protocol (https://) (optional if showImageInMockup is false)
    class: Optional additional classes to add to the container (optional)
{% endcomment %}
<section class="bg-bg-inv text-text-inv pt-16 pb-40 sm:pb-64">
  <div class="grid-container">
    <div class="px-4 sm:px-6">
      {%
        render 'heading',
        text: title,
        size: 'xxl',
        inverted: true,
      %}
      {%
        render 'paragraph',
        text: description,
        size: 'lg',
      %}
    </div>
  </div>
</section>
<section class="pb-24 -mt-32 sm:-mt-56">
  {%
    render 'project-mockups',
    heroImage: heroImage,
    mobileImage: mobileImage,
    projectUrlWithoutProtocol: projectUrlWithoutProtocol,
    showImageInMockup: showImageInMockup,
    projectUrlWithoutProtocol: projectUrlWithoutProtocol,
    buttonLink: buttonLink,
    buttonTitle: buttonTitle,
    class: 'container mx-auto grid grid-cols-12 gap-x-4 sm:gap-x-6 px-4 @sm:px-6',
  %}
</section>
