<nav class="navbar navbar-expand-lg navbar-light  fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-start justify-content-md-center" id="navbarNav">
        <ul class="navbar-nav ">
            <li class="nav-item {% if page.url ==  '/' %} active {% endif %}">
                <a class="nav-link " href="/">Start</a>
            </li>
            <li class="nav-item {% if page.url contains '/ueber-odis' %} active {% endif %}">
                <a class="nav-link "
                    href="/ueber-odis/">Über ODIS</a>
            </li>
            <li class="nav-item {% if page.url contains '/projekte' %} active {% endif %}">
                <a class="nav-link "
                    href="/projekte/">Projekte</a>
            </li>
            <li class="nav-item {% if page.url contains '/ressourcen' %} active {% endif %}">
                <a class="nav-link "
                    href="/ressourcen/">Ressourcen</a>
            </li>
            <li class="nav-item {% if page.url contains '/aktuelles' %} active {% endif %}">
                <a class="nav-link "
                    href="/aktuelles/">Aktuelles</a>
            </li>
            <li class="nav-item {% if page.url contains '/contact' %} active {% endif %}">
                <a class="nav-link "
                    href="/contact/">Kontakt</a>
            </li>
        </ul>
    </div>
</nav>