---
layout: default.liquid
title: Projekte
---
<section class="bg-bg-inv text-text-inv pt-16 pb-40 sm:pb-64">
  <div class="grid-container">
    <div class="px-4 sm:px-6">
      {%
        render 'heading',
        text: 'ODIS-Projekte',
        size: 'xxl',
        inverted: true,
      %}
      {%
        render 'paragraph',
        text: 'Aus offenen Daten können vielfältige Anwendungen entstehen. Hier sind einige Projekte die Open Data von Berlin nutzen:',
        size: 'lg',
      %}
    </div>
  </div>
</section>

<section class="pb-24 -mt-32 sm:-mt-56">
  <div class="grid-container">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 gap-y-12 xl:gap-y-16">
      {% assign projects = collections.project %}
      {% assign projectsSorted = projects | sort: 'date' | reverse %}
      {% for project in projectsSorted %}
        {%
          render 'project-thumbnail',
          project: project,
        %}
      {% endfor %}
    </div>
  </div>
</section>
