---
import BaseHead, {
  type Props as BaseHeadProps,
} from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = {
  metaTitle: string;
  metaDescription: string;
  externalLibs?: BaseHeadProps["externalLibs"];
  ogImage?: string;
};

const { metaTitle, ogImage, metaDescription, externalLibs = [] } = Astro.props;
---

<html lang="de">
  <head>
    <BaseHead
      title={metaTitle}
      description={metaDescription}
      externalLibs={externalLibs}
      image={ogImage}
    />
  </head>

  <body class="@container">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
