---
layout: default.liquid
title: Open Data Informationsstelle Berlin
---

<div class="flex flex-col items-center">
  <!--header-->
  <section class="flex flex-col w-1/2 text-blue-500">
    <h1 class="text-blue-500">
      Offene Daten <br />
      für ein offenes Berlin
    </h1>

    <p>
      Offene Daten nutzen uns allen. Sei es in der Wissensvermittlung zur
      Stadtverwaltung, bei der Schaffung politischer Transparenz, in der
      Erleichterung von Alltagsaufgaben oder der Entwicklung von neuen
      Geschäftsmodellen. Offene Daten begleiten uns jeden Tag.
    </p>

    <a
      class="p-4 mt-8 border-2 border-blue-500 bg-cyan-50 drop-shadow-[8px_8px_0_rgba(30,57,143,1)] w-40"
      href=""
      >Über ODIS
    </a>
  </section>

  <!--map-->
  <div class="w-1/2 mt-8">
    <!-- <img
      class=""
      src="/assets/images/illustrations/map_ganz.svg"
      alt="ODIS Berlin map"
    /> -->
    {% include "hero-image.liquid" %}
  </div>

  <!--open data reise-->
  <div class="bg-cyan-100 flex justify-center py-60 -mt-60 -mb-40 -z-10">
    <div class="flex flex-col w-1/2">
      <h2>
        Open Data Reise <br />
        unsere fünf Stationen zum Ziel
      </h2>

      <p>
        Welches Potential liegt in meiner Exceltabelle? In welcher Abteilung
        werden eigentlich welche Daten erhoben? Und wie müssen Daten
        aufgearbeitet werden, damit sie möglichst wertvoll sind und fehlerfrei
        genutzt werden können? Wer sich mit Daten aus und für die Verwaltung
        beschäftigt, setzt sich zunehmend mit Fragen einer modernen und
        effizienten verwaltung auseinander. Auf unserer Datenreise stellen wir
        in fünf aufeinanderfolgenden Modulen dafür Wissensgrundlagen und
        Werkzeuge bereit.
      </p>
    </div>
  </div>

  <div class="flex flex-col w-1/2 items-center mb-20">
    <img
      class="w-1/4"
      src="/assets/images/illustrations/01_modul.svg"
      alt="Modul Nummer eins"
    />

    <p>Modul 1 von 5</p>
    <h3>Datenpotentiale verstehen</h3>
    <p class="w-1/2">
      Zu Beginn der Reise stellt sich die Frage, wozu offene Daten gut sind und
      welches Potenzial in ihnen liegt. Das erste Modul zeigt
      Nutzungspotenziale.
    </p>
  </div>



  <!--aktuelles von der odis-->
  <div class="bg-blue-500 flex justify-center py-20">
    <div class="flex flex-col w-1/2">
      <h2 class="text-cyan-50">Aktuelles von der ODIS</h2>
      <p class="text-cyan-50 pb-20">
        Die seit 2018 bestehende Open Data Informationsstelle unterstüzt die
        Berliner Verwaltung bei der Bereitstellung von offenen Daten,
        veranstaltet Netzwerktreffen und Wissenstransfer und entwickelt Open
        Data Prototypen und Tools.
      </p>

      <div class="flex">
        <img
          class="mr-20"
          src="/assets/images/platzhalter.png"
          alt="project card"
        />
        <img src="/assets/images/platzhalter.png" alt="project card" />
      </div>
      <a
        class="p-4 mt-8 border-2 border-cyan-50 bg-blue-500 drop-shadow-[8px_8px_0_rgba(255,255,255,1)] text-cyan-50 w-60"
        href=""
        >Alle Projekte ansehen</a
      >
    </div>
  </div>
</div>

<!-- newsletter & kontakt-->
<section class="flex flex-col items-center bg-cyan-100 my-40 py-20">
  <!--newsletter-->
  <div class="w-1/2">
    <h2>Immer up to date?</h2>
    <p class="mb-8">
      Immer auf dem neusten Stand: Du möchtest über Neuigkeiten und
      Veranstaltungen zu Open Data in Berlin informiert werden? Melde dich gerne
      für unseren ODIS-Newsletter an!
    </p>
    <a
      class="p-4 border-2 border-blue-500 bg-cyan-50 drop-shadow-[8px_8px_0_rgba(30,57,143,1)] w-40"
      href="https://subscribe.newsletter2go.com/?n2g=r9s7xtjr-pugsca5z-1c6s&_ga=2.134197321.677887372.1591186343-1970435231.1591186343"
      >Newsletter abbonieren</a
    >
    <p class="mt-16">
      Newsletter verpasst? Stöber einfach in unserem
      <a href="">Newsletter-Archiv.</a>
    </p>
  </div>

  <!--kontakt-->
  <div class="mt-20 w-1/2">
    <h3>Du brauchst noch Hilfe?</h3>
    <p>
      Du benötigst Unterstützung oder hast Feedback? Ruf uns gerne unter +49 (0)
      30 209 69 99 43 an oder kontaktiere uns über das Kontaktformular.
    </p>
    <a href="" class="border-b-8 border-blue-500 pb-2">Zum Kontaktformular</a>
  </div>
</section>
