---
layout: default.liquid
title: Open Data Informationsstelle Berlin
---
<div class="flex flex-col items-center">
  <!-- header -->
  <section class="grid grid-cols-12">
    <div class="col-start-4 col-span-6 flex flex-col gap-8">
      <h1 class="text-headlines text-5xl font-bold">
        Offene Daten <br>
        für ein offenes Berlin
      </h1>

      <p class="text-xl">
        Offene Daten nutzen uns allen. Sei es in der Wissensvermittlung zur Stadtverwaltung, bei der Schaffung
        politischer Transparenz, in der Erleichterung von Alltagsaufgaben oder der Entwicklung von neuen
        Geschäftsmodellen. Offene Daten begleiten uns jeden.
      </p>

      <div class="flex justify-start">
        {% render 'button', text: 'Über ODIS' %}
      </div>
    </div>
  </section>

  <!-- map -->
  <div class="max-w-[35rem] mt-8">
    <!--
      <img
        class=""
        src="/assets/images/illustrations/map_ganz.svg"
        alt="ODIS Berlin map"
      />
    -->
    {% include 'hero-image.liquid' %}
  </div>

  <!-- open data reise -->
  <div class="bg-cyan-100 flex justify-center py-60 -mt-60 -mb-40 -z-10">
    <div class="flex flex-col w-1/2">
      <h2>
        Open Data Reise <br>
        unsere fünf Stationen zum Ziel
      </h2>

      <p>
        Welches Potential liegt in meiner Exceltabelle? In welcher Abteilung werden eigentlich welche Daten erhoben? Und
        wie müssen Daten aufgearbeitet werden, damit sie möglichst wertvoll sind und fehlerfrei genutzt werden können?
        Wer sich mit Daten aus und für die Verwaltung beschäftigt, setzt sich zunehmend mit Fragen einer modernen und
        effizienten verwaltung auseinander. Auf unserer Datenreise stellen wir in fünf aufeinanderfolgenden Modulen
        dafür Wissensgrundlagen und Werkzeuge bereit.
      </p>
    </div>
  </div>

  <div class="flex flex-col w-1/2 items-center mb-20">
    <img
      class="w-1/4"
      src="/assets/images/illustrations/01_modul.svg"
      alt="Modul Nummer eins"
    >

    <p>Modul 1 von 5</p>
    <h3>Datenpotentiale verstehen</h3>
    <p class="w-1/2">
      Zu Beginn der Reise stellt sich die Frage, wozu offene Daten gut sind und welches Potenzial in ihnen liegt. Das
      erste Modul zeigt Nutzungspotenziale.
    </p>
  </div>

  <!-- open data community zahlen -->
  <section class="grid grid-cols-12 bg-bg-alt">
    <div class="col-start-4 col-span-6 flex flex-col gap-8 py-20">
      <h2 class="text-4xl leading-10 font-bold text-headlines">Open Data Community</h2>
      <p>
        Offene Daten werden von vielen Organisationen in unterschiedlichsten Kategorien bereitgestellt. Mit der
        Open-Data-Rechtsverordnung und dem zunehmenden Bewusstsein für offenen Daten wächst das breite Open Data
        Angebot. Lasst uns gemeinsam Daten öffnen, damit das Angebot an Anwendungen wächst, die uns allen zugute kommen.
      </p>

      <div class="flex self-center py-20">
        <div class="flex flex-col items-center mr-20">
          <p class="text-lg text-center text-headlines font-bold">
            Bereitstellende <br>
            Institutionen
          </p>
          {% comment %} Note: the classes text-stroke-xy is not part of tailwind {% endcomment %}
          <div class="text-7xl font-bold text-bg text-stroke-2 text-stroke-line">
            <span class="drop-shadow-primary-sm">78</span>
            <div class="w-full border-t-[0.5rem] border-t-line"></div>
          </div>
        </div>

        <div class="flex flex-col items-center mr-20">
          <p class="text-lg text-center text-headlines font-bold">
            Berlins <br>
            Datensätze
          </p>
          {% comment %} Note: the classes text-stroke-xy is not part of tailwind {% endcomment %}
          <div class="text-7xl font-bold text-bg text-stroke-2 text-stroke-line">
            <span class="drop-shadow-primary-sm">2.963</span>
            <div class="w-full border-t-[0.5rem] border-t-line"></div>
          </div>
        </div>

        <div class="flex flex-col items-center">
          <p class="text-lg text-center text-headlines font-bold">
            Letzter <br>
            Monat
          </p>
          {% comment %} Note: the classes text-stroke-xy is not part of tailwind {% endcomment %}
          <div class="text-7xl font-bold text-bg text-stroke-2 text-stroke-line">
            <span class="drop-shadow-primary-sm">+214</span>
            <div class="w-full border-t-[0.5rem] border-t-line"></div>
          </div>
        </div>
      </div>

      <div class="flex justify-center">
        {% render 'button.liquid', text: 'ODIS Blog erkunden' %}
      </div>
    </div>
  </section>

  <!-- aktuelles von der odis -->
  <section class="grid grid-cols-12 bg-bg-inv">
    <div class="col-start-4 col-span-6 flex flex-col gap-2 py-20">
      <h2 class="text-headlines-inv text-4xl font-bold">Aktuelles von der ODIS</h2>
      <p class="text-text-inv pb-20">
        Die seit 2018 bestehende Open Data Informationsstelle unterstüzt die Berliner Verwaltung bei der Bereitstellung
        von offenen Daten, veranstaltet Netzwerktreffen und Wissenstransfer und entwickelt Open Data Prototypen und
        Tools.
      </p>

      <div class="flex">
        <img
          class="mr-20"
          src="/assets/images/platzhalter.png"
          alt="project card"
        >
        <img src="/assets/images/platzhalter.png" alt="project card">
      </div>

      <div class="flex justify-center">
        {% render 'button.liquid', text: 'Alle Projekte ansehen', inverted: true %}
      </div>
    </div>
  </section>

  <!-- newsletter & kontakt -->
  <section class="grid grid-cols-12 py-24">
    <!-- newsletter -->
    <div class="col-start-4 col-span-6 flex flex-col gap-8 mb-16">
      <h2 class="text-4xl text-headlines font-bold">Immer up to date?</h2>
      <p>
        Immer auf dem neusten Stand: Du möchtest über Neuigkeiten und Veranstaltungen zu Open Data in Berlin informiert
        werden? Melde dich gerne für unseren ODIS-Newsletter an!
      </p>
      <div class="flex justify-start">
        {% render 'button', text: 'Newsletter Abonnieren' %}
      </div>
      <p>
        Newsletter verpasst? Stöber einfach in unserem
        <a
          class="text-links underline"
          href="https://subscribe.newsletter2go.com/?n2g=r9s7xtjr-pugsca5z-1c6s&_ga=2.134197321.677887372.1591186343-1970435231.1591186343"
        >
          Newsletter-Archiv.
        </a>
      </p>
    </div>

    <!-- kontakt -->

    <div class="col-start-3 flex items-start justify-end pr-3">
      <img
        src="assets/images/illustrations/flipboard_with_infinite_sign.svg"
        alt="flipboard mit Unendlichkeitszeichen"
        loading="lazy"
        class="grow max-w-[72px]"
      >
    </div>

    <div class="col-start-4 col-span-6 flex flex-col gap-2 max-w-[34.5rem]">
      <h3 class="text-lg text-headlines font-bold">Du brauchst noch Hilfe?</h3>
      <p>
        Du benötigst Unterstützung oder hast Feedback? Ruf uns gerne unter +49 (0) 30 209 69 99 43 an oder kontaktiere
        uns über das Kontaktformular.
      </p>
      <div class="flex justify-start mt-2">
        {% render 'text-link', text: 'Zum Kontaktformular' %}
      </div>
    </div>
  </section>
</div>
