---
layout: default.liquid
title: Open Data Informationsstelle Berlin
---
<div class="flex flex-col items-center">
  <!-- header -->
  <section class="flex flex-col items-start text-text">
    {% render 'heading', tag: 'h1', size: 'xxl', text: 'Offene Daten<br />für ein offenes Berlin' %}

    <p class="paragraph-lg">
      Offene Daten nutzen uns allen. Sei es in der Wissensvermittlung zur Stadtverwaltung, bei der Schaffung politischer
      Transparenz, in der Erleichterung von Alltagsaufgaben oder der Entwicklung von neuen Geschäftsmodellen. Offene
      Daten begleiten uns jeden Tag.
    </p>

    {% include 'button.liquid', text: 'Über ODIS' %}
    {% include 'button.liquid', text: 'Über ODIS', variant: 'secondary' %}
    <br>
    {% include 'text-link.liquid', text: 'Über ODIS' %}
  </section>

  <!-- map -->
  <div class="w-1/2 mt-8">
    <!--
      <img
        class=""
        src="/assets/images/illustrations/map_ganz.svg"
        alt="ODIS Berlin map"
      />
    -->
    {% include 'hero-image.liquid' %}
  </div>

  <!-- open data reise -->
  <div class="flex justify-stretch py-60 -mt-60 -mb-40 -z-10">
    <div class="flex flex-col">
      {% render 'heading', text: 'Open Data Reise<br />unsere fünf Stationen zum Ziel' %}

      <p class="paragraph">
        Welches Potential liegt in meiner Exceltabelle? In welcher Abteilung werden eigentlich welche Daten erhoben? Und
        wie müssen Daten aufgearbeitet werden, damit sie möglichst wertvoll sind und fehlerfrei genutzt werden können?
        Wer sich mit Daten aus und für die Verwaltung beschäftigt, setzt sich zunehmend mit Fragen einer modernen und
        effizienten verwaltung auseinander. Auf unserer Datenreise stellen wir in fünf aufeinanderfolgenden Modulen
        dafür Wissensgrundlagen und Werkzeuge bereit.
      </p>
    </div>
  </div>

  <div class="flex flex-col justify-center items-center mb-20">
    <img
      class="w-1/4"
      src="/assets/images/illustrations/01_modul.svg"
      alt="Modul Nummer eins"
    >

    <p class="paragraph w-auto inline-block">Modul 1 von 5</p>
    {% render 'heading', tag: 'h3', size: 'lg', text: 'Datenpotentiale verstehen' %}
    <p class="w-1/2">
      Zu Beginn der Reise stellt sich die Frage, wozu offene Daten gut sind und welches Potenzial in ihnen liegt. Das
      erste Modul zeigt Nutzungspotenziale.
    </p>
  </div>

  <!-- open data community zahlen -->
  <div class="flex justify-center py-20">
    <div>
      {% render 'heading', text: 'Open Data Community' %}
      <p class="paragraph">
        Offene Daten werden von vielen Organisationen in unterschiedlichsten Kategorien bereitgestellt. Mit der
        Open-Data-Rechtsverordnung und dem zunehmenden Bewusstsein für offenen Daten wächst das breite Open Data
        Angebot. Lasst uns gemeinsam Daten öffnen, damit das Angebot an Anwendungen wächst, die uns allen zugute kommen.
      </p>

      <div class="flex py-20">
        <div class="flex flex-col items-center mr-20">
          <p class="paragraph">Bereitstellende Institutionen</p>
          <p class="paragraph">78</p>
        </div>

        <div class="flex flex-col items-center mr-20">
          <p class="paragraph">Berlins Datensätze</p>
          <p class="paragraph">2.963</p>
        </div>

        <div class="flex flex-col items-center">
          <p class="paragraph">Letzter Monat</p>
          <p class="paragraph">+214</p>
        </div>
      </div>

      {% include 'button.liquid', text: 'ODIS Blog erkunden' %}
    </div>
  </div>

  <!-- aktuelles von der odis -->
  <div class="bg-bg-inv flex justify-center py-20">
    <div class="flex flex-col w-1/2 items-start">
      {% render 'heading', text: 'Aktuelles von der ODIS' %}
      <p class="text-text-inv 20">
        Die seit 2018 bestehende Open Data Informationsstelle unterstüzt die Berliner Verwaltung bei der Bereitstellung
        von offenen Daten, veranstaltet Netzwerktreffen und Wissenstransfer und entwickelt Open Data Prototypen und
        Tools.
      </p>

      <div class="flex">
        <img
          class="mr-20"
          src="/assets/images/platzhalter.png"
          alt="project card"
        >
        <img src="/assets/images/platzhalter.png" alt="project card">
      </div>
      {% include 'button.liquid', text: 'Alle Projekte ansehen', inverted: true %}
      {% include 'button.liquid', text: 'Alle Projekte ansehen', inverted: true, variant: 'secondary' %}
      <br>
      {% include 'text-link.liquid', text: 'Über ODIS', inverted: true %}
    </div>
  </div>
</div>

<!-- newsletter & kontakt -->
<section class="flex flex-col items-center my-40 py-20">
  <!-- newsletter -->
  <div class="w-1/2">
    {% render 'heading', text: 'Immer up to date?' %}
    <p class="mb-8">
      Immer auf dem neusten Stand: Du möchtest über Neuigkeiten und Veranstaltungen zu Open Data in Berlin informiert
      werden? Melde dich gerne für unseren ODIS-Newsletter an!
    </p>
    <a
      class="p-4 border-2 border-line bg-bg drop-shadow-primary w-40"
      href="https://subscribe.newsletter2go.com/?n2g=r9s7xtjr-pugsca5z-1c6s&_ga=2.134197321.677887372.1591186343-1970435231.1591186343"
      >Newsletter abbonieren</a
    >
    <p class="mt-16">
      Newsletter verpasst? Stöber einfach in unserem
      <a href="">Newsletter-Archiv.</a>
    </p>
  </div>

  <!-- kontakt -->
  <div class="mt-20 w-1/2">
    {% render 'heading', text: 'Du brauchst noch Hilfe?', tag: 'h3', size: 'lg' %}
    <p class="paragraph">
      Du benötigst Unterstützung oder hast Feedback? Ruf uns gerne unter +49 (0) 30 209 69 99 43 an oder kontaktiere uns
      über das Kontaktformular.
    </p>
    <a href="" class="border-b-8 border-line pb-2">Zum Kontaktformular</a>
  </div>
</section>
