---
import { cn } from "../../utils/classNames";

export type Props = {
  class?: string | undefined;
  caption?: string | undefined;
  fullWidth?: boolean | undefined;
};

const { class: className, caption, fullWidth = true } = Astro.props;
---

<section class="mt-10 pt-6">
  <div
    class={cn(
      `bg-bg py-4 sm:py-6`,
      `mb-0 max-w-full`,
      fullWidth &&
        "sm:w-screen sm:max-w-[100vw] sm:ml-[calc((var(--gridGap)+var(--marginSize))*-1)] lg:ml-[calc((var(--marginSize)+(var(--gridGap)*2)+var(--columnSize))*-1)]",
      className,
    )}
  >
    <slot />
  </div>
  {
    caption && (
      <div
        class="
        mt-2 text-xs opacity-70 transition-opacity
        hover:opacity-100 focus-visible:opacity-100
        focusable
      "
        tabindex="0"
      >
        {caption}
      </div>
    )
  }
</section>
