<svg
  width="48"
  height="48"
  viewBox="0 0 48 48"
  fill="none"
  class="
    {% if class  %}
    {{ class }}
    {% endif %}
  "
  xmlns="http://www.w3.org/2000/svg"
>
  <title>Artboard</title>
  <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="logo" transform="translate(4, 4)" fill-rule="nonzero">
      <circle id="Oval" fill="currentColor" cx="20" cy="20" r="20"></circle>
      <path d="M22.8387665,18.0927071 L31.8080273,7.666667 L29.6825996,7.666667 L21.8945916,16.7194511 L15.6743324,7.666667 L8.5,7.666667 L17.9062524,21.3560798 L8.5,32.2893835 L10.6255482,32.2893835 L18.8498852,22.7293358 L25.4189346,32.2893835 L32.593267,32.2893835 L22.8382445,18.0927071 L22.8387665,18.0927071 Z M19.9275369,21.4766867 L18.9744876,20.1135298 L11.3914129,9.26674905 L14.6561309,9.26674905 L20.7757605,18.0204473 L21.7288098,19.3836042 L29.6836035,30.7620712 L26.4188855,30.7620712 L19.9275369,21.4772087 L19.9275369,21.4766867 Z" id="Shape" fill="var(--bg)"></path>
    </g>
  </g>
</svg>
