---
layout: default.liquid
title: Veranstaltungen
---

        <h2 class="headline-02 mb-4">
            Veranstaltungen
        </h2>

        {% assign year = 0 %}
        {% assign yearPrev = 1 %}
        <div class="schedule-wrapper mb-6">
            {% assign items = site.categories.veranstaltungen | where: "visible", "true" %}
            {% for post in items %}

            {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
            {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
            {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}


            <div class="schedule-event full-width pt-3">
                    {% assign year = year %}
                    {% if year != yearPrev %}
                    <h4 class="ml-3 mt-3 mb-0">{{ year }}</h4>
                    {% endif %}
                    {% assign yearPrev = year %}
                <div class="schedule-event-block pt-1 pb-1 {% if posttime < nowunix %}has-passed{% endif %}">
                    <div class="schedule-date mr-3 white ">
                        <div>
                            <span class="headline-02 white">{{post.date | date: "%d"}}.</span> <br>
                            <span class="schedule-date-month">{{post.date | date: "%b"}}</span>
                        </div>
                    </div>
                    <div class="schedule-time mr-3">{{post.time}}</div>

                    <div class="schedule-desc-wrapper">
                        <a class="event-overview-link" href="{{post.url}}">
                            <h3 class="headline-03 primary">{{post.title}}</h3>
                            <p class="copy black">{{post.description}}</p>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>