name: Trigger Netlify Build
on:
  schedule:
    # Run at 0100 daily
    - cron: '*/5 * * * *'
    # - cron: '0 1 * * *'
jobs:
  build:
    name: Request Netlify Webhook
    runs-on: ubuntu-latest
    steps:
      - name: Curl request
        run: curl -X POST -d {} {{ secrets.BUILD_HOOK_URL }}